body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  font-size: 62.5%;
  background-color: #270707;
  padding-bottom: 0rem;
}

@media(max-width:990px) { 
  html { font-size: 55% } }

@media(max-width:760px) { 
  html { font-size: 43% } }

@media(max-width: 500px){
  html {font-size: 30% } }